flow01.xml

diabetes-engine/out.single.*.kf
normalize.test.set.Rout
.RData
*.class
*.jar

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

.DS_Store

*/target/
weka/build/
weka/doc/
*/*/target/
autoweka-2.6/dist/
weka/dist/

.idea/
*.mv.db


resources/db/

d2rq-0.8.1/austin.nt

d2rq-0.8.1/mapping-iswc.ttl

