<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<project>
    <endpoint>
        <uri>http://localhost:3030/austin/query</uri>
    </endpoint>

    <prologs>
        <prolog>
            <prefix>diab</prefix>
            <uri>localhost:2020/resource/</uri>
        </prolog>
        <prolog>
            <prefix>rdf</prefix>
            <uri>http://www.w3.org/1999/02/22-rdf-syntax-ns#</uri>
        </prolog>
    </prologs>

    <conditions>
        <condition>
            <name>urn</name>
            <allowedOperators>
                <operator>DIFFERENT</operator>
                <operator>EQUAL</operator>
            </allowedOperators>
            <allowedDataType type="CATEGORY">
                <value>000048</value>
                <value>000348</value>
                <value>001197</value>
                <value>001316</value>
                <value>002138</value>
                <value>002831</value>
                <value>002992</value>
                <value>004236</value>
                <value>004395</value>
                <value>004438</value>
                <value>005452</value>
                <value>005491</value>
                <value>005730</value>
                <value>005807</value>
                <value>005969</value>
                <value>006006</value>
                <value>006290</value>
                <value>006485</value>
                <value>007172</value>
                <value>007293</value>
                <value>007306</value>
                <value>007510</value>
                <value>007592</value>
                <value>007615</value>
                <value>009441</value>
                <value>009530</value>
                <value>009683</value>
                <value>009908</value>
                <value>009909</value>
                <value>010100</value>
                <value>010468</value>
                <value>010473</value>
                <value>010628</value>
                <value>010714</value>
                <value>010726</value>
                <value>010821</value>
                <value>010915</value>
                <value>010922</value>
                <value>011118</value>
                <value>011443</value>
                <value>011499</value>
                <value>011719</value>
                <value>011834</value>
                <value>011835</value>
                <value>011845</value>
                <value>011876</value>
                <value>011897</value>
                <value>011999</value>
                <value>012007</value>
                <value>012110</value>
                <value>012134</value>
                <value>012321</value>
                <value>012340</value>
                <value>012412</value>
                <value>012433</value>
                <value>012460</value>
                <value>012466</value>
                <value>012555</value>
                <value>012632</value>
                <value>012646</value>
                <value>012801</value>
                <value>012905</value>
                <value>013043</value>
                <value>013181</value>
                <value>013224</value>
                <value>013265</value>
                <value>013290</value>
                <value>013305</value>
                <value>013369</value>
                <value>013449</value>
                <value>013459</value>
                <value>013527</value>
                <value>013617</value>
                <value>013641</value>
                <value>013692</value>
                <value>013716</value>
                <value>013785</value>
                <value>013820</value>
                <value>013953</value>
                <value>014003</value>
                <value>014035</value>
                <value>014193</value>
                <value>014239</value>
                <value>014340</value>
                <value>014354</value>
                <value>014436</value>
                <value>014446</value>
                <value>014504</value>
                <value>014505</value>
                <value>014540</value>
                <value>014541</value>
                <value>014562</value>
                <value>014584</value>
                <value>014685</value>
                <value>014770</value>
                <value>014809</value>
                <value>014846</value>
                <value>014856</value>
                <value>014871</value>
                <value>014892</value>
                <value>014970</value>
                <value>015093</value>
                <value>015259</value>
                <value>015295</value>
                <value>015341</value>
                <value>015420</value>
                <value>015437</value>
                <value>015466</value>
                <value>015690</value>
                <value>015694</value>
                <value>015705</value>
                <value>015848</value>
                <value>015867</value>
                <value>015901</value>
                <value>015957</value>
                <value>015995</value>
                <value>016309</value>
                <value>016345</value>
                <value>016497</value>
                <value>016622</value>
                <value>016631</value>
                <value>016638</value>
                <value>016700</value>
                <value>016712</value>
                <value>016724</value>
                <value>016737</value>
                <value>016755</value>
                <value>016778</value>
                <value>016850</value>
                <value>016866</value>
                <value>016951</value>
                <value>017010</value>
                <value>017095</value>
                <value>017172</value>
                <value>017234</value>
                <value>017258</value>
                <value>017335</value>
                <value>017373</value>
                <value>017708</value>
                <value>017790</value>
                <value>017857</value>
                <value>017897</value>
                <value>017973</value>
                <value>017985</value>
                <value>018042</value>
                <value>018044</value>
                <value>018264</value>
                <value>018273</value>
                <value>018449</value>
                <value>018592</value>
                <value>018678</value>
                <value>018716</value>
                <value>018989</value>
                <value>019026</value>
                <value>019059</value>
                <value>019140</value>
                <value>019292</value>
                <value>019361</value>
                <value>019381</value>
                <value>019411</value>
                <value>019418</value>
                <value>019971</value>
                <value>020459</value>
                <value>020461</value>
                <value>020572</value>
                <value>020690</value>
                <value>020837</value>
                <value>020908</value>
                <value>020952</value>
                <value>021045</value>
                <value>021143</value>
                <value>021156</value>
                <value>021372</value>
                <value>021431</value>
                <value>021441</value>
                <value>021487</value>
                <value>021589</value>
                <value>021599</value>
                <value>021719</value>
                <value>021730</value>
                <value>021822</value>
                <value>021839</value>
                <value>021924</value>
                <value>021931</value>
                <value>022087</value>
                <value>022285</value>
                <value>022302</value>
                <value>022399</value>
                <value>022447</value>
                <value>022754</value>
                <value>022920</value>
                <value>022931</value>
                <value>023017</value>
                <value>023043</value>
                <value>023119</value>
                <value>023120</value>
                <value>023204</value>
                <value>023226</value>
                <value>023241</value>
                <value>023253</value>
                <value>023292</value>
                <value>023327</value>
                <value>023694</value>
                <value>024094</value>
                <value>024135</value>
                <value>024172</value>
                <value>024372</value>
                <value>024382</value>
                <value>024461</value>
                <value>024480</value>
                <value>024591</value>
                <value>024700</value>
                <value>024714</value>
                <value>024725</value>
                <value>024915</value>
                <value>024945</value>
                <value>024986</value>
                <value>025042</value>
                <value>025045</value>
                <value>025148</value>
                <value>025153</value>
                <value>025181</value>
                <value>025412</value>
                <value>025435</value>
                <value>025634</value>
                <value>025721</value>
                <value>025842</value>
                <value>025904</value>
                <value>025936</value>
                <value>025937</value>
                <value>025960</value>
                <value>026033</value>
                <value>026157</value>
                <value>026196</value>
                <value>026337</value>
                <value>026339</value>
                <value>026352</value>
                <value>026375</value>
                <value>026516</value>
                <value>026579</value>
                <value>026641</value>
                <value>026697</value>
                <value>026716</value>
                <value>026730</value>
                <value>026758</value>
                <value>026761</value>
                <value>026946</value>
                <value>026963</value>
                <value>027104</value>
                <value>027238</value>
                <value>027272</value>
                <value>027288</value>
                <value>027369</value>
                <value>027379</value>
                <value>027446</value>
                <value>027516</value>
                <value>027537</value>
                <value>027614</value>
                <value>027654</value>
                <value>027697</value>
                <value>027732</value>
                <value>027868</value>
                <value>027901</value>
                <value>027974</value>
                <value>028036</value>
                <value>028051</value>
                <value>028102</value>
                <value>028148</value>
                <value>028179</value>
                <value>028260</value>
                <value>028301</value>
                <value>028339</value>
                <value>028361</value>
                <value>028387</value>
                <value>028520</value>
                <value>028735</value>
                <value>028834</value>
                <value>028953</value>
                <value>029054</value>
                <value>029097</value>
                <value>029159</value>
                <value>029207</value>
                <value>029296</value>
                <value>029313</value>
                <value>029319</value>
                <value>029377</value>
                <value>029383</value>
                <value>029449</value>
                <value>029615</value>
                <value>029697</value>
                <value>029801</value>
                <value>029927</value>
                <value>029935</value>
                <value>030024</value>
                <value>030190</value>
                <value>030195</value>
                <value>030315</value>
                <value>030323</value>
                <value>030379</value>
                <value>030383</value>
                <value>030550</value>
                <value>030633</value>
                <value>030635</value>
                <value>030808</value>
                <value>030819</value>
                <value>031001</value>
                <value>031060</value>
                <value>031064</value>
                <value>031100</value>
                <value>031157</value>
                <value>031269</value>
                <value>031299</value>
                <value>031303</value>
                <value>031377</value>
                <value>031417</value>
                <value>031523</value>
                <value>031648</value>
                <value>031866</value>
                <value>031981</value>
                <value>032021</value>
                <value>032204</value>
                <value>032537</value>
                <value>032664</value>
                <value>032764</value>
                <value>032823</value>
                <value>033020</value>
                <value>033079</value>
                <value>033174</value>
                <value>033207</value>
                <value>033243</value>
                <value>033902</value>
                <value>033919</value>
                <value>033982</value>
                <value>034003</value>
                <value>034010</value>
                <value>034063</value>
                <value>034077</value>
                <value>034080</value>
                <value>034135</value>
                <value>034244</value>
                <value>034259</value>
                <value>034477</value>
                <value>034492</value>
                <value>034528</value>
                <value>034545</value>
                <value>034572</value>
                <value>034620</value>
                <value>034743</value>
                <value>034825</value>
                <value>034856</value>
                <value>034908</value>
                <value>034933</value>
                <value>034987</value>
                <value>034999</value>
                <value>035042</value>
                <value>035168</value>
                <value>035193</value>
                <value>035284</value>
                <value>035336</value>
                <value>035403</value>
                <value>035736</value>
                <value>035760</value>
                <value>035820</value>
                <value>035896</value>
                <value>035949</value>
                <value>035981</value>
                <value>036098</value>
                <value>036131</value>
                <value>036336</value>
                <value>036354</value>
                <value>036410</value>
                <value>036495</value>
                <value>036514</value>
                <value>036634</value>
                <value>036689</value>
                <value>036728</value>
                <value>036783</value>
                <value>036796</value>
                <value>036799</value>
                <value>036817</value>
                <value>036827</value>
                <value>036959</value>
                <value>036985</value>
                <value>037045</value>
                <value>037100</value>
                <value>037265</value>
                <value>037377</value>
                <value>037392</value>
                <value>037446</value>
                <value>037519</value>
                <value>037522</value>
                <value>037581</value>
                <value>037662</value>
                <value>037789</value>
                <value>037938</value>
                <value>038020</value>
                <value>038236</value>
                <value>038280</value>
                <value>038371</value>
                <value>038375</value>
                <value>038387</value>
                <value>038686</value>
                <value>038703</value>
                <value>038751</value>
                <value>038838</value>
                <value>038890</value>
                <value>038988</value>
                <value>039248</value>
                <value>039266</value>
                <value>039287</value>
                <value>039297</value>
                <value>039305</value>
                <value>039955</value>
                <value>039971</value>
                <value>039998</value>
                <value>040071</value>
                <value>040193</value>
                <value>040199</value>
                <value>040252</value>
                <value>040329</value>
                <value>040539</value>
                <value>040550</value>
                <value>040704</value>
                <value>040776</value>
                <value>040814</value>
                <value>040818</value>
                <value>041029</value>
                <value>041050</value>
                <value>041051</value>
                <value>041080</value>
                <value>041121</value>
                <value>041242</value>
                <value>041251</value>
                <value>041252</value>
                <value>041281</value>
                <value>041479</value>
                <value>041525</value>
                <value>041800</value>
                <value>041860</value>
                <value>041865</value>
                <value>041920</value>
                <value>041935</value>
                <value>041945</value>
                <value>041969</value>
                <value>041981</value>
                <value>042047</value>
                <value>042112</value>
                <value>042134</value>
                <value>042344</value>
                <value>042362</value>
                <value>042493</value>
                <value>042744</value>
                <value>042775</value>
                <value>042843</value>
                <value>042991</value>
                <value>043021</value>
                <value>043043</value>
                <value>043278</value>
                <value>043331</value>
                <value>043390</value>
                <value>043431</value>
                <value>043499</value>
                <value>043523</value>
                <value>043581</value>
                <value>043592</value>
                <value>043630</value>
                <value>043738</value>
                <value>043746</value>
                <value>043851</value>
                <value>044029</value>
                <value>044140</value>
            </allowedDataType>
        </condition>
        <condition>
            <name>age</name>
            <allowedOperators>
                <operator>DIFFERENT</operator>
                <operator>EQUAL</operator>
                <operator>SMALLER</operator>
                <operator>LARGER</operator>
            </allowedOperators>
            <allowedDataType type="NUMERIC">
            </allowedDataType>
        </condition>
        <condition>
            <name>gender</name>
            <allowedOperators>
                <operator>DIFFERENT</operator>
                <operator>EQUAL</operator>
            </allowedOperators>
            <allowedDataType type="CATEGORY">
                <value>Male</value>
                <value>Female</value>
            </allowedDataType>
        </condition>
        <condition>
            <name>admissionnumber</name>
            <allowedOperators>
                <operator>DIFFERENT</operator>
                <operator>EQUAL</operator>
                <operator>SMALLER</operator>
                <operator>LARGER</operator>
            </allowedOperators>
            <allowedDataType type="NUMERIC">
            </allowedDataType>
        </condition>
        <condition>
            <name>countryofbirth</name>
            <allowedOperators>
                <operator>DIFFERENT</operator>
                <operator>EQUAL</operator>
            </allowedOperators>
            <allowedDataType type="CATEGORY">
                <value>Afghanistan</value>
                <value>Albania</value>
                <value>Algeria</value>
                <value>Argentina</value>
                <value>Armenia</value>
                <value>Australia</value>
                <value>AustralianExternalTerritoriesnec</value>
                <value>Austria</value>
                <value>Bangladesh</value>
                <value>Belarus</value>
                <value>Belgium</value>
                <value>Bhutan</value>
                <value>BosniaandHerzegovina</value>
                <value>Brazil</value>
                <value>Bulgaria</value>
                <value>BurmaMyanmar</value>
                <value>Cambodia</value>
                <value>Canada</value>
                <value>Chile</value>
                <value>ChinaexcludesSARsandTaiwan</value>
                <value>Colombia</value>
                <value>Croatia</value>
                <value>Cuba</value>
                <value>Cyprus</value>
                <value>CzechRepublic</value>
                <value>Denmark</value>
                <value>EastTimor</value>
                <value>Egypt</value>
                <value>ElSalvador</value>
                <value>England</value>
                <value>Eritrea</value>
                <value>Estonia</value>
                <value>Ethiopia</value>
                <value>Fiji</value>
                <value>Finland</value>
                <value>FormerYugoslavRepublicofMacedoniaFYROM</value>
                <value>France</value>
                <value>GazaStripandWestBank</value>
                <value>Germany</value>
                <value>Ghana</value>
                <value>Greece</value>
                <value>HongKongSARofChina</value>
                <value>Hungary</value>
                <value>InadequatelyDescribed</value>
                <value>India</value>
                <value>Indonesia</value>
                <value>Iran</value>
                <value>Iraq</value>
                <value>Ireland</value>
                <value>Israel</value>
                <value>Italy</value>
                <value>Jamaica</value>
                <value>Japan</value>
                <value>Jordan</value>
                <value>Kenya</value>
                <value>Kiribati</value>
                <value>KoreaDemocraticPeoplesRepublicofNorth</value>
                <value>KoreaRepublicofSouth</value>
                <value>Kosovo</value>
                <value>Kuwait</value>
                <value>Laos</value>
                <value>Latvia</value>
                <value>Lebanon</value>
                <value>Liberia</value>
                <value>Libya</value>
                <value>Lithuania</value>
                <value>Luxembourg</value>
                <value>MacauSARofChina</value>
                <value>Malaysia</value>
                <value>Malta</value>
                <value>Mauritius</value>
                <value>Mexico</value>
                <value>Monaco</value>
                <value>Montenegro</value>
                <value>Morocco</value>
                <value>Nepal</value>
                <value>Netherlands</value>
                <value>NewZealand</value>
                <value>Nigeria</value>
                <value>Niue</value>
                <value>NorfolkIsland</value>
                <value>NorthernIreland</value>
                <value>Norway</value>
                <value>NotElsewhereClassified</value>
                <value>NotStated</value>
                <value>OceaniaandAntarctica</value>
                <value>Pakistan</value>
                <value>PapuaNewGuinea</value>
                <value>Peru</value>
                <value>Philippines</value>
                <value>Poland</value>
                <value>PolynesiaexcludesHawaii</value>
                <value>Portugal</value>
                <value>Romania</value>
                <value>RussianFederation</value>
                <value>Samoa</value>
                <value>SamoaAmerican</value>
                <value>SaudiArabia</value>
                <value>Scotland</value>
                <value>Senegal</value>
                <value>Seychelles</value>
                <value>Singapore</value>
                <value>Slovakia</value>
                <value>Slovenia</value>
                <value>SolomonIslands</value>
                <value>Somalia</value>
                <value>SouthAfrica</value>
                <value>SouthernandEastAfrica</value>
                <value>Spain</value>
                <value>SriLanka</value>
                <value>SubSaharanAfrica</value>
                <value>Sudan</value>
                <value>Swaziland</value>
                <value>Sweden</value>
                <value>Switzerland</value>
                <value>Syria</value>
                <value>Taiwan</value>
                <value>Tanzania</value>
                <value>Thailand</value>
                <value>Tonga</value>
                <value>Turkey</value>
                <value>Uganda</value>
                <value>Ukraine</value>
                <value>UnitedArabEmirates</value>
                <value>UnitedKingdomChannelIslandsandIsleofMan</value>
                <value>UnitedStatesofAmerica</value>
                <value>Uruguay</value>
                <value>Venezuela</value>
                <value>Vietnam</value>
                <value>Wales</value>
                <value>Zimbabwe</value>
            </allowedDataType>
        </condition>
        <condition>
            <name>deceased</name>
            <allowedOperators>
                <operator>DIFFERENT</operator>
                <operator>EQUAL</operator>
            </allowedOperators>
            <allowedDataType type="BOOLEAN">
                <value>true</value>
                <value>false</value>
            </allowedDataType>
        </condition>
        <condition>
            <name>gp</name>
            <allowedOperators>
                <operator>DIFFERENT</operator>
                <operator>EQUAL</operator>
            </allowedOperators>
            <allowedDataType type="CATEGORY">
                <value>Y</value>
                <value>N</value>
                <value>U</value>
            </allowedDataType>
        </condition>
        <condition>
            <name>hba1c</name>
            <allowedOperators>
                <operator>DIFFERENT</operator>
                <operator>EQUAL</operator>
            </allowedOperators>
            <allowedDataType type="CATEGORY">
                <value>1</value>
                <value>0</value>
            </allowedDataType>
        </condition>
        <condition>
            <name>hba1ctestresult</name>
            <allowedOperators>
                <operator>DIFFERENT</operator>
                <operator>EQUAL</operator>
                <operator>SMALLER</operator>
                <operator>LARGER</operator>
            </allowedOperators>
            <allowedDataType type="NUMERIC">
            </allowedDataType>
        </condition>
        <condition>
            <name>interpreterrequired</name>
            <allowedOperators>
                <operator>DIFFERENT</operator>
                <operator>EQUAL</operator>
            </allowedOperators>
            <allowedDataType type="CATEGORY">
                <value>1</value>
                <value>2</value>
                <value>9</value>
            </allowedDataType>
        </condition>
        <condition>
            <name>lengthofstay</name>
            <allowedOperators>
                <operator>DIFFERENT</operator>
                <operator>EQUAL</operator>
                <operator>SMALLER</operator>
                <operator>LARGER</operator>
            </allowedOperators>
            <allowedDataType type="NUMERIC">
            </allowedDataType>
        </condition>
        <condition>
            <name>lengthofstaytype</name>
            <allowedOperators>
                <operator>DIFFERENT</operator>
                <operator>EQUAL</operator>
            </allowedOperators>
            <allowedDataType type="CATEGORY">
                <value>M</value>
                <value>O</value>
            </allowedDataType>
        </condition>
        <condition>
            <name>maritalstatus</name>
            <allowedOperators>
                <operator>DIFFERENT</operator>
                <operator>EQUAL</operator>
            </allowedOperators>
            <allowedDataType type="CATEGORY">
                <value>Defacto</value>
                <value>Divorced</value>
                <value>Married</value>
                <value>Nevermarried</value>
                <value>Notstated/inadequatelydescribed</value>
                <value>Separated</value>
                <value>Widowed</value>
            </allowedDataType>
        </condition>
        <condition>
            <name>preferredlanguage</name>
            <allowedOperators>
                <operator>DIFFERENT</operator>
                <operator>EQUAL</operator>
            </allowedOperators>
            <allowedDataType type="CATEGORY">
                <value>AfricanLanguages,nec</value>
                <value>Albanian</value>
                <value>Amharic</value>
                <value>Arabic</value>
                <value>Armenian</value>
                <value>Assyrian</value>
                <value>AustralianIndigenousLanguages,nfd</value>
                <value>Bosnian</value>
                <value>Burmese</value>
                <value>Cantonese</value>
                <value>Chinese,nec</value>
                <value>Croatian</value>
                <value>Czech</value>
                <value>Danish</value>
                <value>Dari</value>
                <value>Dutch</value>
                <value>English</value>
                <value>Estonian</value>
                <value>French</value>
                <value>German</value>
                <value>Greek</value>
                <value>Gujarati</value>
                <value>Hakka</value>
                <value>Hindi</value>
                <value>Hmong</value>
                <value>Hungarian</value>
                <value>InadequatelyDescribed</value>
                <value>Indonesian</value>
                <value>Indonesian(BahasaIndonesian)</value>
                <value>Irish</value>
                <value>Italian</value>
                <value>Japanese</value>
                <value>Khmer</value>
                <value>Korean</value>
                <value>Lao</value>
                <value>Latvian</value>
                <value>Macedonian</value>
                <value>Malay</value>
                <value>Maltese</value>
                <value>Mandarin</value>
                <value>MiddleEasternSemiticLanguages,nec</value>
                <value>Nepali</value>
                <value>NotStated</value>
                <value>Pashto</value>
                <value>Persian(excludingDari)</value>
                <value>Polish</value>
                <value>Portuguese</value>
                <value>Punjabi</value>
                <value>Romanian</value>
                <value>Russian</value>
                <value>Samoan</value>
                <value>Serbian</value>
                <value>SignLanguages,nec</value>
                <value>Sinhalese</value>
                <value>Slovak</value>
                <value>Slovene</value>
                <value>Somali</value>
                <value>Spanish</value>
                <value>Tagalog</value>
                <value>Tamil</value>
                <value>Thai</value>
                <value>Timorese</value>
                <value>Tongan</value>
                <value>Turkish</value>
                <value>Ukrainian</value>
                <value>Urdu</value>
                <value>Vietnamese</value>
            </allowedDataType>
        </condition>
        <condition>
            <name>religion</name>
            <allowedOperators>
                <operator>DIFFERENT</operator>
                <operator>EQUAL</operator>
            </allowedOperators>
            <allowedDataType type="CATEGORY">
                <value>No Religion, nfd</value>
                <value>Other</value>
            </allowedDataType>
        </condition>
        <condition>
            <name>religion</name>
            <allowedOperators>
                <operator>DIFFERENT</operator>
                <operator>EQUAL</operator>
            </allowedOperators>
            <allowedDataType type="CATEGORY">
                <value>Agnosticism</value>
                <value>AnglicanChurchofAustralia</value>
                <value>AssembliesofGod</value>
                <value>Atheism</value>
                <value>Baha'i</value>
                <value>Baptist</value>
                <value>Brethren</value>
                <value>Buddhism</value>
                <value>Catholic,nec</value>
                <value>Christadelphians</value>
                <value>ChristianScience</value>
                <value>ChurchofChrist(Non-denominational)</value>
                <value>ChurchofJesusChristofLDS(Mormons)</value>
                <value>CopticOrthodoxChurch</value>
                <value>EasternOrthodox,nec</value>
                <value>GreekOrthodox</value>
                <value>Hinduism</value>
                <value>Humanism</value>
                <value>IndependentEvangelicalChurches</value>
                <value>Islam</value>
                <value>Jehovah'sWitnesses</value>
                <value>Judaism</value>
                <value>Lutheran</value>
                <value>MacedonianOrthodox</value>
                <value>NoReligion,nfd</value>
                <value>NotStated</value>
                <value>OtherChristian,nec</value>
                <value>OtherProtestant,nec</value>
                <value>Pentecostal,nec</value>
                <value>Presbyterian</value>
                <value>Rationalism</value>
                <value>ReligiousGroups,nec</value>
                <value>RussianOrthodox</value>
                <value>SalvationArmy</value>
                <value>Seventh-dayAdventist</value>
                <value>Sikhism</value>
                <value>Unitarian</value>
                <value>UnitingChurch</value>
                <value>WesleyanMethodistChurch</value>
            </allowedDataType>
        </condition>
    </conditions>

</project>